In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Import Libraries

In [2]:
df = pd.read_csv("data/Crime_Data_from_2020_to_Present.csv", low_memory=False)

## Data ScaN

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

In [4]:
df.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,O,405.0,CLOTHING STORE,NaN,NaN,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,28,M,H,102.0,SIDEWALK,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [5]:
df.sample(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
787568,230907153,03/19/2023 12:00:00 AM,03/16/2023 12:00:00 AM,1015,9,Van Nuys,961,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,0344 1822,28,F,W,101.0,STREET,NaN,NaN,IC,Invest Cont,331.0,NaN,NaN,NaN,15200 VALLEYHEART DR,NaN,34.1612,-118.4651
792775,231800678,04/25/2023 12:00:00 AM,04/25/2023 12:00:00 AM,2045,18,Southeast,1844,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 1402 1419 1822 1407 1300 1100 0302 0450,34,M,B,210.0,RESTAURANT/FAST FOOD,106.0,UNKNOWN FIREARM,AA,Adult Arrest,230.0,NaN,NaN,NaN,11300 AVALON BL,NaN,33.9320,-118.2652
70332,200207340,03/05/2020 12:00:00 AM,03/05/2020 12:00:00 AM,1130,2,Rampart,236,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0913 0329 1609 2000 0319 2007 1222 1814 1300,27,M,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,AO,Adult Other,745.0,NaN,NaN,NaN,200 N ALVARADO ST,NaN,34.0680,-118.2695
259118,210617551,10/16/2021 12:00:00 AM,10/16/2021 12:00:00 AM,420,6,Hollywood,645,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0334 1501 0400,21,F,B,102.0,SIDEWALK,102.0,HAND GUN,IC,Invest Cont,230.0,NaN,NaN,NaN,1700 N LA BREA AV,NaN,34.1016,-118.3452
724039,231004528,01/13/2023 12:00:00 AM,01/13/2023 12:00:00 AM,130,10,West Valley,1008,1,330,BURGLARY FROM VEHICLE,0344 1609 1822 1420 0209,0,M,W,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,7600 HAYVENHURST AV,NaN,34.2085,-118.4924

In [6]:
df.shape

(990293, 28)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990293 entries, 0 to 990292
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           990293 non-null  int64
 1   Date Rptd       990293 non-null  object
 2   DATE OCC        990293 non-null  object
 3   TIME OCC        990293 non-null  int64
 4   AREA            990293 non-null  int64
 5   AREA NAME       990293 non-null  object
 6   Rpt Dist No     990293 non-null  int64
 7   Part 1-2        990293 non-null  int64
 8   Crm Cd          990293 non-null  int64
 9   Crm Cd Desc     990293 non-null  object
 10  Mocodes         842641 non-null  object
 11  Vict Age        990293 non-null  int64
 12  Vict Sex        849515 non-null  object
 13  Vict Descent    849504 non-null  object
 14  Premis Cd       989970 non-null  float64
 15  Premis Desc     989399 non-null  object
 16  Weapon Used Cd  326547 non-null  float64
 17  Weapon Desc     326547 non-null  object
 18  Status          990292 non-null  object
 19  Status Desc     990293 non-null  object
 20  Crm Cd 1        990282 non-null  float64
 21  Crm Cd 2        68957 non-null   float64
 22  Crm Cd 3        2311 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        990293 non-null  object
 25  Cross Street    152641 non-null  object
 26  LAT             990293 non-null  float64
 27  LON             990293 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 211.5+ MB

# Data Cleaning

### Rename Columns

In [8]:
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [9]:
# New column names with lowercase and underscores
new_columns = [
    'report_number', 'date_reported', 'date_of_occurrence', 'time_of_occurrence', 
    'area_code', 'area_name', 'report_district_number', 'part_1_or_2', 
    'crime_code', 'crime_code_description', 'mocodes', 'victim_age', 
    'victim_sex', 'victim_descent', 'premise_code', 'premise_description', 
    'weapon_used_code', 'weapon_description', 'crime_status', 'crime_status_description',
    'crime_code_1', 'crime_code_2', 'crime_code_3', 'crime_code_4', 
    'location', 'cross_street', 'latitude', 'longitude'
]

# Rename columns using the new column names
df.columns = new_columns

## Missing Values

In [10]:
df.isnull().sum()

report_number                    0
date_reported                    0
date_of_occurrence               0
time_of_occurrence               0
area_code                        0
area_name                        0
report_district_number           0
part_1_or_2                      0
crime_code                       0
crime_code_description           0
mocodes                     147652
victim_age                       0
victim_sex                  140778
victim_descent              140789
premise_code                   323
premise_description            894
weapon_used_code            663746
weapon_description          663746
crime_status                     1
crime_status_description         0
crime_code_1                    11
crime_code_2                921336
crime_code_3                987982
crime_code_4                990229
location                         0
cross_street                837652
latitude                         0
longitude                        0
dtype: int64

In [11]:
round(df.isna().mean() * 100,2)

report_number                0.00
date_reported                0.00
date_of_occurrence           0.00
time_of_occurrence           0.00
area_code                    0.00
area_name                    0.00
report_district_number       0.00
part_1_or_2                  0.00
crime_code                   0.00
crime_code_description       0.00
mocodes                     14.91
victim_age                   0.00
victim_sex                  14.22
victim_descent              14.22
premise_code                 0.03
premise_description          0.09
weapon_used_code            67.03
weapon_description          67.03
crime_status                 0.00
crime_status_description     0.00
crime_code_1                 0.00
crime_code_2                93.04
crime_code_3                99.77
crime_code_4                99.99
location                     0.00
cross_street                84.59
latitude                     0.00
longitude                    0.00
dtype: float64

#### assuming we want to clean null values by droping all rows containing null values

In [12]:
# Remove rows with any missing values
df_cleaned = df.dropna()

# Remove rows with missing values in specific columns (e.g., 'date_reported')
# df_cleaned = df.dropna(subset=['date_reported', 'victim_age'])

# Check the shape of the DataFrame before and after cleaning
print(f"Original shape: {df.shape}")
print(f"Cleaned shape: {df_cleaned.shape}")

Original shape: (990293, 28)
Cleaned shape: (10, 28)

looking at the dataset, we can just go ahead and and work with the data as the null values for some are justifiable<br>
drop the row with the blank crime status and crime code, premise code and premise description<br>
we can fill the sex, descent with "unknown"<br>

#### dropping rows with null values fr some columns

In [13]:
df.dropna(subset=['crime_status'], inplace=True)
df.dropna(subset=['premise_code'], inplace=True)
df.dropna(subset=['premise_description'], inplace=True)

fill the sex, descent with "unknown"

#### filling up null values with actual values like "Unknown" for columns where

In [14]:
#fill null with "Unknown"
df['victim_sex'] = df['victim_sex'].fillna('Unknown')
df['victim_descent'] = df['victim_descent'].fillna('Unknown')

In [15]:
#fill null with with No weapon
df['weapon_used_code'] = df['weapon_used_code'].fillna(0)
df['weapon_description'] = df['weapon_description'].fillna('No Weapon')

#### drop unnecessary columns

the mocodes can be an important column, however it contains, for sum rows, about 10 codes which will make analysis fruitless in some sense<br>
to convert these codes into the description is necessary<br>
for this analysis though, we dont need the column<br>
<br>
we wont be doing any advance <strong>geospatial analysis</strong> too so we dont need the <strong>cross_street column</strong><br>
the extra crime_code columns are also only necessary for multicrime analysis, since the null values are more than 90% for three and we have an actual crime code column, we can drop the columns

In [16]:
df.drop("mocodes", axis=1, inplace=True)
df.drop("cross_street", axis=1, inplace=True)
df.drop("crime_code_1", axis=1, inplace=True)
df.drop("crime_code_2", axis=1, inplace=True)
df.drop("crime_code_3", axis=1, inplace=True)
df.drop("crime_code_4", axis=1, inplace=True)

uniques for crime_status_description

#### clean and corrrect time and date columns

convert date columns to date dtype

In [17]:
#change data_reported column to date dtype
df['date_reported'] = pd.to_datetime(df['date_reported'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce').dt.date

#change date_of_occurrence column to date dtype
df['date_of_occurrence'] = pd.to_datetime(df['date_of_occurrence'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce').dt.date

for the time column there are 1, 2, 3 and 4 digit values making the conversion a bit odd<br>
we have to treat it differently

In [18]:
# Convert each time entry into a standardized time format 'HH:MM'
def standardize_time(x):
    x = str(x)  # Convert to string for easier manipulation
    if len(x) == 4:  # 4-digit format: HHMM
        return f"{x[:2]}:{x[2:]}"
    elif len(x) == 3:  # 3-digit format: HMM
        return f"{x[0]}:{x[1:]}"
    elif len(x) == 1 or len(x) == 2:  # 1 or 2 digit format: H
        return f"{x}:00"
    else:
        return None  # In case of invalid time format

# Apply the function to the column
df['time_of_occurrence'] = df['time_of_occurrence'].apply(standardize_time)

# Now, convert to datetime and extract time
df['time_of_occurrence'] = pd.to_datetime(df['time_of_occurrence'], format='%H:%M', errors='coerce').dt.time

#correct NaT values by making it 00:00:00
df['time_of_occurrence'] = df['time_of_occurrence'].fillna(pd.Timestamp("00:00:00").time())

#### Check Unique values to find inconsistencies

CRIME STATUS DESCRIPTION

In [19]:
df['crime_status_description'].unique()

array(['Adult Arrest', 'Invest Cont', 'Adult Other', 'Juv Arrest',
       'Juv Other', 'UNK'], dtype=object)

let's use data that is more readable and understandable<br>
dictionary below was obtained from the web

In [20]:
# Mapping of crime status codes to their meanings
crime_status_mapping = {
    'AA': 'Arrest Made',
    'IC': 'Investigation Continuing',
    'AO': 'Arrest Outstanding',
    'JA': 'Juvenile Arrest',
    'JO': 'Juvenile Outstanding',
    'CC': 'Case Closed'
}

# Apply the mapping to the 'crime_status' column to create a new 'crime_status_description' column
df['crime_status_description'] = df['crime_status'].map(crime_status_mapping)

let's check the unique vales for the columns so we can make some corrections if necessary

VICTIM AGE COLUMN

In [21]:
df.victim_age.unique()

array([  0,  47,  19,  28,  41,  25,  27,  24,  26,   8,   7,  56,  22,
        23,  31,  30,  57,  12,  46,  51,  37,  20,  29,  33,  34,  15,
        65,  59,   9,  35,  50,  64,  79,  40,  44,  32,  16,  21,   6,
        72,  10,  60,  36,  18,  63,  17,   5,  39,  62,  42,  58,  45,
        54,  14,  71,  69,  49,  38,  13,  61,  -2,  43,  78,  67,  53,
        11,  48,  73,  52,  68,  81,  80,   3,  55,  89,  70,  77,  83,
        91,  82,  75,  76,  74,  -1,   2,  66,  84,  -3,   4,  87,  86,
        85,  90,  99,  96,  88,  92,  94,  93,  95,  97,  98, 120,  -4])

negative and 0 ages should be changed to unknown

In [22]:
df["victim_age"] = df["victim_age"].apply(lambda x : "Unknown" if x<= 0 else x)

VICTIM DESCENT

In [23]:
df.victim_descent.unique()

array(['O', 'X', 'H', 'B', 'W', 'Unknown', 'A', 'K', 'C', 'J', 'F', 'I',
       'V', 'S', 'P', 'Z', 'G', 'U', 'D', 'L', '-'], dtype=object)

In [24]:
descent_mapping = {
    'O': 'Other',
    'X': 'Unknown',  #  leave as Unknown
    'H': 'Hispanic',
    'B': 'Black',
    'W': 'White',
    'A': 'Asian',
    'K': 'Native American',
    'C': 'White',  # Can map to 'White' if you want to be more general
    'J': 'Jewish',
    'F': 'Filipino',
    'I': 'Indian',
    'V': 'Vietnamese',
    'S': 'Spanish',
    'P': 'Polish',
    'Z': 'Zulu',
    'G': 'Greek',
    'U': 'Ukrainian',
    'D': 'Dutch',
    'L': 'Latino',
    '-': 'Unknown',  # Treat '-' as Unknown or NaN
}

df["victim_descent"]= df["victim_descent"].apply(lambda x: descent_mapping.get(x,"Unknown"))

VICTIM DESCENT

In [25]:
df.victim_sex.unique()

array(['M', 'X', 'F', 'Unknown', 'H', '-'], dtype=object)

In [26]:
df['victim_sex'] = df['victim_sex'].replace({'M': 'Male', 'F': 'Female', 'X': 'Unknown', '-': 'Unknown', 'Unknown': 'Unknown', 'H': 'Unknown'})

In [27]:
# Mapping for crime codes to descriptions (based on common crime categories)
# Mapping of crime codes to descriptions
# crime_code_mapping = {
    # 510: 'VEHICLE - STOLEN', 330: 'BURGLARY FROM VEHICLE', 480: 'BIKE - STOLEN', 343: 'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)',
    # 354: 'THEFT OF IDENTITY', 624: 'BATTERY - SIMPLE ASSAULT', 821: 'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...',
    # 812: 'CRM AGNST CHLD (13 OR UNDER)', 230: 'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT', 956: 'LETTERS, LEWD - TELEPHONE CALLS, LEWD',
    # 341: 'THEFT-GRAND ($950.01 & OVER)', 930: 'CRIMINAL THREATS - NO WEAPON DISPLAYED', 668: 'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)',
    # 420: 'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)', 813: 'CHILD ANNOYING (17YRS & UNDER)', 440: 'THEFT PLAIN - PETTY ($950 & UNDER)',
    # 762: 'LEWD CONDUCT', 441: 'THEFT PLAIN - ATTEMPT', 310: 'BURGLARY', 331: 'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...',
    # 860: 'BATTERY WITH SEXUAL CONTACT', 626: 'INTIMATE PARTNER - SIMPLE ASSAULT', 210: 'ROBBERY', 662: 'BUNCO, GRAND THEFT',
    # 236: 'INTIMATE PARTNER - AGGRAVATED ASSAULT', 820: 'ORAL COPULATION', 661: 'UNAUTHORIZED COMPUTER ACCESS', 810: 'SEX, UNLAWFUL',
    # 901: 'VIOLATION OF RESTRAINING ORDER', 442: 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)', 740: 'VANDALISM - FELONY',
    # 946: 'OTHER MISCELLANEOUS CRIME', 648: 'ARSON', 761: 'BRANDISH WEAPON', 649: 'DOCUMENT FORGERY / STOLEN FELONY',
    # 845: 'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE', 121: 'RAPE, FORCIBLE', 745: 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)',
    # 627: 'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT', 653: 'CREDIT CARDS, FRAUD USE ($950.01 & OVER)', 928: 'THREATENING PHONE CALLS/LETTERS',
    # 815: 'SEXUAL PENETRATION W/FOREIGN OBJECT', 940: 'EXTORTION', 625: 'OTHER ASSAULT', 352: 'PICKPOCKET', 886: 'DISTURBING THE PEACE',
    # 666: 'BUNCO, ATTEMPT', 921: 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE', 805: 'PIMPING', 932: 'PEEPING TOM',
    # 900: 'VIOLATION OF COURT ORDER', 903: 'CONTEMPT OF COURT', 439: 'FALSE POLICE REPORT', 954: 'CONTRIBUTING',
    # 434: 'FALSE IMPRISONMENT', 235: 'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT', 220: 'ATTEMPTED ROBBERY',
    # 654: 'CREDIT CARDS, FRAUD USE ($950 & UNDER)', 922: 'CHILD STEALING', 760: 'LEWD/LASCIVIOUS ACTS WITH CHILD',
    # 670: 'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)', 850: 'INDECENT EXPOSURE', 237: 'CHILD NEGLECT (SEE 300 W.I.C.)',
    # 763: 'STALKING', 345: 'DISHONEST EMPLOYEE - GRAND THEFT', 888: 'TRESPASSING', 320: 'BURGLARY, ATTEMPTED', 122: 'RAPE, ATTEMPTED',
    # 753: 'DISCHARGE FIREARMS/SHOTS FIRED', 822: 'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS', 520: 'VEHICLE - ATTEMPT STOLEN',
    # 806: 'PANDERING', 906: 'FIREARMS RESTRAINING ORDER (FIREARMS RO)', 437: 'RESISTING ARREST', 410: 'BURGLARY FROM VEHICLE, ATTEMPTED',
    # 350: 'THEFT, PERSON', 623: 'BATTERY POLICE (SIMPLE)', 522: 'VEHICLE, STOLEN - OTHER', 450: 'THEFT FROM PERSON - ATTEMPT',
    # 890: 'FAILURE TO YIELD', 755: 'BOMB SCARE', 231: 'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER', 664: 'BUNCO, PETTY THEFT',
    # 251: 'SHOTS FIRED AT INHABITED DWELLING', 951: 'DEFRAUDING INNKEEPER/THEFT OF SERVICES', 920: 'KIDNAPPING - GRAND ATTEMPT',
    # 250: 'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT', 470: 'TILL TAP - GRAND THEFT ($950.01 & OVER)', 902: 'VIOLATION OF TEMPORARY RESTRAINING ORDER',
    # 647: 'THROWING OBJECT AT MOVING VEHICLE', 651: 'DOCUMENT WORTHLESS ($200.01 & OVER)', 910: 'KIDNAPPING', 110: 'CRIMINAL HOMICIDE',
    # 351: 'PURSE SNATCHING', 421: 'THEFT FROM MOTOR VEHICLE - ATTEMPT', 444: 'DISHONEST EMPLOYEE - PETTY THEFT', 814: 'CHILD PORNOGRAPHY',
    # 756: 'WEAPONS POSSESSION/BOMBING', 433: 'DRIVING WITHOUT OWNER CONSENT (DWOC)', 931: 'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR D...',
    # 435: 'LYNCHING', 438: 'RECKLESS DRIVING', 443: 'SHOPLIFTING - ATTEMPT', 660: 'COUNTERFEIT', 950: 'DEFRAUDING INNKEEPER/THEFT OF SERVICES',
    # 622: 'BATTERY ON A FIREFIGHTER', 943: 'CRUELTY TO ANIMALS', 487: 'BOAT - STOLEN', 949: 'ILLEGAL DUMPING', 944: 'CONSPIRACY',
    # 942: 'BRIBERY', 347: 'GRAND THEFT / INSURANCE FRAUD', 353: 'DRUNK ROLL', 870: 'CHILD ABANDONMENT', 473: 'THEFT, COIN MACHINE - GRAND',
    # 880: 'DISRUPT SCHOOL', 452: 'PICKPOCKET, ATTEMPT', 924: 'TELEPHONE PROPERTY - DAMAGE', 840: 'BEASTIALITY', 948: 'BIGAMY',
    # 884: 'FAILURE TO DISPERSE', 904: 'FIREARMS EMERGENCY PROTECTIVE ORDER', 830: 'INCEST', 432: 'BLOCKING DOOR INDUCTION CENTER', 882: 'INCITING A RIOT',
    # 445: 'DISHONEST EMPLOYEE ATTEMPTED THEFT', 926: 'TRAIN WRECKING', 453: 'DRUNK ROLL - ATTEMPT'
# }

# df["crime_description"] = df["crime_code_1"].apply(lambda x: crime_code_mapping.get(x,"Unknown"))

CRIME CODE DESCRIPTION

In [28]:
df['crime_code_description'].unique()

array(['VEHICLE - STOLEN', 'BURGLARY FROM VEHICLE', 'BIKE - STOLEN',
       'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)', 'THEFT OF IDENTITY',
       'BATTERY - SIMPLE ASSAULT',
       'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
       'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)',
       'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
       'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD',
       'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD',
       'CRIMINAL THREATS - NO WEAPON DISPLAYED',
       'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)',
       'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)',
       'CHILD ANNOYING (17YRS & UNDER)',
       'THEFT PLAIN - PETTY ($950 & UNDER)', 'LEWD CONDUCT',
       'THEFT PLAIN - ATTEMPT', 'BURGLARY',
       'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)',
       'BATTERY WITH SEXUAL CONTACT', 'INTIMATE PARTNER - SIMPLE ASSAULT',
       'ROBBERY', 'BUNCO, GRAND THEFT',
       'INTIMATE PARTNER - AGGRAVATED ASSAULT', 'ORAL COPULATION',
       'UNAUTHORIZED COMPUTER ACCESS',
       'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ',
       'VIOLATION OF RESTRAINING ORDER',
       'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
       'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)',
       'OTHER MISCELLANEOUS CRIME', 'ARSON', 'BRANDISH WEAPON',
       'DOCUMENT FORGERY / STOLEN FELONY',
       'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE', 'RAPE, FORCIBLE',
       'VANDALISM - MISDEAMEANOR ($399 OR UNDER)',
       'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
       'CREDIT CARDS, FRAUD USE ($950.01 & OVER)',
       'THREATENING PHONE CALLS/LETTERS',
       'SEXUAL PENETRATION W/FOREIGN OBJECT', 'EXTORTION',
       'OTHER ASSAULT', 'PICKPOCKET', 'DISTURBING THE PEACE',
       'BUNCO, ATTEMPT', 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE',
       'PIMPING', 'PEEPING TOM', 'VIOLATION OF COURT ORDER',
       'CONTEMPT OF COURT', 'FALSE POLICE REPORT', 'CONTRIBUTING',
       'FALSE IMPRISONMENT',
       'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT', 'ATTEMPTED ROBBERY',
       'CREDIT CARDS, FRAUD USE ($950 & UNDER', 'CHILD STEALING',
       'LEWD/LASCIVIOUS ACTS WITH CHILD',
       'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)', 'INDECENT EXPOSURE',
       'CHILD NEGLECT (SEE 300 W.I.C.)', 'STALKING',
       'DISHONEST EMPLOYEE - GRAND THEFT', 'TRESPASSING',
       'BURGLARY, ATTEMPTED', 'RAPE, ATTEMPTED',
       'DISCHARGE FIREARMS/SHOTS FIRED',
       'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS',
       'VEHICLE - ATTEMPT STOLEN', 'PANDERING',
       'FIREARMS RESTRAINING ORDER (FIREARMS RO)', 'RESISTING ARREST',
       'BURGLARY FROM VEHICLE, ATTEMPTED', 'THEFT, PERSON',
       'BATTERY POLICE (SIMPLE)',
       'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)',
       'THEFT FROM PERSON - ATTEMPT', 'FAILURE TO YIELD', 'BOMB SCARE',
       'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
       'BUNCO, PETTY THEFT', 'SHOTS FIRED AT INHABITED DWELLING',
       'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER',
       'KIDNAPPING - GRAND ATTEMPT',
       'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT',
       'TILL TAP - GRAND THEFT ($950.01 & OVER)',
       'VIOLATION OF TEMPORARY RESTRAINING ORDER',
       'THROWING OBJECT AT MOVING VEHICLE',
       'DOCUMENT WORTHLESS ($200.01 & OVER)', 'KIDNAPPING',
       'CRIMINAL HOMICIDE', 'PURSE SNATCHING',
       'THEFT FROM MOTOR VEHICLE - ATTEMPT',
       'DISHONEST EMPLOYEE - PETTY THEFT', 'CHILD PORNOGRAPHY',
       'WEAPONS POSSESSION/BOMBING',
       'DRIVING WITHOUT OWNER CONSENT (DWOC)',
       'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)',
       'LYNCHING', 'RECKLESS DRIVING', 'SHOPLIFTING - ATTEMPT',
       'COUNTERFEIT',
       'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
       'BATTERY ON A FIREFIGHTER', 'CRUELTY TO ANIMALS', 'BOAT - STOLEN',
       'ILLEGAL DUMPING', 'PROWLER', 'DRUGS, TO A MINOR',
       'THEFT, COIN MACHINE - PETTY ($950 & UNDER)',
       'DOCUMENT WORTHLESS ($200 & UNDER)', 'MANSLAUGHTER, NEGLIGENT',
       'PETTY THEFT - AUTO REPAIR', 'THEFT, COIN MACHINE - ATTEMPT',
       'TILL TAP - PETTY ($950 & UNDER)', 'PURSE SNATCHING - ATTEMPT',
       'LYNCHING - ATTEMPTED', 'BIKE - ATTEMPTED STOLEN', 'CONSPIRACY',
       'GRAND THEFT / AUTO REPAIR', 'BRIBERY',
       'GRAND THEFT / INSURANCE FRAUD', 'DRUNK ROLL', 'CHILD ABANDONMENT',
       'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)', 'DISRUPT SCHOOL',
       'PICKPOCKET, ATTEMPT', 'TELEPHONE PROPERTY - DAMAGE',
       'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
       'BIGAMY', 'FAILURE TO DISPERSE',
       'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)',
       'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)',
       'BLOCKING DOOR INDUCTION CENTER', 'INCITING A RIOT',
       'DISHONEST EMPLOYEE ATTEMPTED THEFT', 'TRAIN WRECKING',
       'DRUNK ROLL - ATTEMPT'], dtype=object)

there way too many crimes and it will be easier to analyse if we are to categorise them

In [29]:
# Categorizing crimes based on their descriptions
def categorize_crime(description):
    # Crime categories based on the description
    violent_crimes = ['ASSAULT', 'BATTERY', 'ROBBERY', 'KIDNAPPING', 'HOMICIDE', 'STALKING', 'MANSLAUGHTER', 'LYNCHING', 'THREATS', 'EXTORTION']
    property_crimes = ['BURGLARY', 'STOLEN', 'THEFT', 'SHOPLIFTING', 'VANDALISM', 'EMBEZZLEMENT', 'FRAUD', 'COUNTERFEIT', 'DOCUMENT', 'TRESPASSING', 'ARSON', 'TILL TAP', 'PICKPOCKET', 'PURSE SNATCHING']
    drug_crimes = ['DRUGS', 'POSSESSION', 'TRAFFICKING', 'MINOR', 'UNAUTHORIZED COMPUTER ACCESS']
    sexual_crimes = ['SEXUAL', 'SODOMY', 'LEWD', 'PORNOGRAPHY', 'INDECENT', 'RAPE', 'ORAL COPULATION', 'INTIMATE PARTNER', 'SEX OFFENDER', 'INCEST', 'PEEPING TOM' ]
    public_order_crimes = ['DISTURBING THE PEACE', 'RIOT', 'DISRUPT SCHOOL', 'CONSPIRACY', 'FAILURE TO DISPERSE', 'BLOCKING', 'CONTEMPT', 'VIOLATION OF COURT ORDER', 'FIREARMS RESTRAINING ORDER']
    traffic_crimes = ['DRIVING', 'RECKLESS DRIVING', 'DRUNK', 'VEHICLE', 'FAILURE TO YIELD', 'SHOTS FIRED', 'DISCHARGE FIREARMS', 'MOVING VEHICLE', 'BOAT']
    financial_crimes = ['BRIBERY', 'BUNCO', 'DOCUMENT FORGERY', 'CREDIT CARDS', 'FALSE POLICE REPORT', 'DEFRAUDING', 'INSURANCE FRAUD', 'EMBEZZLEMENT']
    crimes_against_children = ['CHILD', 'ANNOYING', 'NEGLECT', 'ABUSE', 'ABANDONMENT', 'STEALING', 'CRIMES AGAINST CHILD']
    animal_crimes = ['CRUELTY TO ANIMALS', 'BEASTIALITY']
    attempted_crimes = ['ATTEMPT', 'ATTEMPTED']
    other_crimes = ['FIREARMS', 'TRAIN WRECKING', 'FAILURE TO YIELD', 'LYNCHING', 'BRANDISH WEAPON', 'HUMAN TRAFFICKING', 'PROWLER', 'DRUNK ROLL']


   # Check and assign the category
    if any(attempt in description for attempt in attempted_crimes):
        return 'Attempted Crime'
    elif any(violent in description for violent in violent_crimes):
        return 'Violent Crime'
    elif any(property in description for property in property_crimes):
        return 'Property Crime'
    elif any(drug in description for drug in drug_crimes):
        return 'Drug Crime'
    elif any(sexual in description for sexual in sexual_crimes):
        return 'Sexual Crime'
    elif any(public in description for public in public_order_crimes):
        return 'Public Order Crime'
    elif any(traffic in description for traffic in traffic_crimes):
        return 'Traffic Crime'
    elif any(financial in description for financial in financial_crimes):
        return 'Financial Crime'
    elif any(child in description for child in crimes_against_children):
        return 'Crimes Against Children'
    elif any(animal in description for animal in animal_crimes):
        return 'Animal Crime'
    elif any(other in description for other in other_crimes):
        return 'Other Crime'
    else:
        return 'Other'

#Apply the crime code mapping to get descriptions and categorize the crimes
df['crime_category'] = df['crime_code_description'].apply(categorize_crime)

#### Change/Correct Data Types

In [30]:
# Change the data types of columns
df = df.astype({
    'date_reported': 'datetime64[ns]',       # Dates should be datetime
    'date_of_occurrence': 'datetime64[ns]',  # Dates should be datetime
    'time_of_occurrence': 'object',      # Time is handled as time objects
    'report_district_number': 'int',     # Numeric representation of districts
    'part_1_or_2': 'category',           # Categorical data
    'victim_sex': 'category',            # Limited categories (e.g., Male, Female)
    'victim_descent': 'category',        # Limited categories
    'premise_code': 'Int64',             # Nullable integer (use Int64 for pandas compatibility)
    'crime_status': 'category',          # Limited categories
})